@import '../style/var.scss';

.ak-copy {
  display: inline-block;
  position: relative;

  &_input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    opacity: 0;
    z-index: 0;
  }

  &_box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }
}
