@import '../style/var.scss';

.ta-cascader {
  display: flex;
  width: 100%;
  position: relative;
}

.ta-cascader-view {
  &_header {
    border-bottom: 1px solid $border-color;
  }

  &_body {
    box-sizing: border-box;
    height: 248px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    position: relative;
  }

  &_group {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex: 0 0 auto;
    vertical-align: top;
    color: $font2-color;
    background-color: $white-color;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
    }

    &:last-child::after {
      content: none;
    }
  }

  &_group:last-child {
    color: $title-color;
  }

  &_list {
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &_item {
    padding: 0 0 0 16px;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    &.selected {
      color: $primary-color;

      .ta-icon {
        --ta-icon-color: #{$primary-color};
        --ta-icon-size: 20px;

        margin-right: 16px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 16px;
      width: 100%;
      bottom: 0;
    }

    &.disabled {
      color: $font3-color;
      cursor: not-allowed;
    }

    &-text {
      height: 44px;
      flex: 1;
      display: inline-flex;
      align-items: center;
      box-sizing: border-box;
      padding-right: 16px;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
