@import '../style/var.scss';
@import '../style/animation.scss';

.ta-icon {
  --ta-icon-size: 24px;
  --ta-icon-color: #{$title-color};

  display: inline-block;
  width: var(--ta-icon-size);
  height: var(--ta-icon-size);
  overflow: hidden;
  line-height: 0;
  fill: var(--ta-icon-color);

  &.spin {
    @include rotate-360-animation(800ms);
  }
}
