@import '../style/var.scss';

.ta-progress {
  --ta-color: #{$primary-color};

  display: flex;
  align-items: center;
  position: relative;
  min-height: 13px;

  &_bar {
    position: relative;
    flex-grow: 1;
    height: 8px;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid var(--ta-color);
      border-radius: 2px;
    }
  }

  &_track {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--ta-color);
    border-radius: 2px;

    &.animated {
      transition: width 0.2s ease;
    }
  }

  &_text {
    font-size: 9px;
    line-height: 13px;
    margin-left: 5px;
    color: $font2-color;
  }

  &.fixed-bar {
    .ta-progress_text {
      position: absolute;
      right: -5px;
      transform: translate3d(100%, 0, 0);
    }
  }
}
