@import '../style/var.scss';
@import '../style/mixin.scss';

.ta-dropdown {
  &.ta-popup {
    height: auto;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .ta-mask {
    @include mask-background-1;
  }

  &_inner {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 50px;
    width: 100%;
    border: none;
    border-radius: 0;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.2s;
    background-color: $white-color;
  }

  &.visible {
    .ta-dropdown {
      &_inner {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
