@import '../style/var.scss';

.ta-cell {
  --ta-label-color: #{$title-color};
  --ta-content-color: #{$font-color};

  display: block;
  min-height: 48px;
  background-color: $white-color;
  position: relative;
  width: 100%;

  &:not(:last-child)::after {
    content: '';
    margin-left: 16px;
    width: calc(100% - 16px);
  }

  &.has--icon::after {
    margin-left: 48px;
    width: calc(100% - 48px);
  }

  &_header {
    padding: 8px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &_content {
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 17px;
    color: var(--ta-content-color);
    min-height: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    max-width: 100%;
  }

  &_label {
    flex-shrink: 0;
    height: 32px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 32px;
    color: var(--ta-label-color);
    font-size: 17px;
    padding-right: 12px;

    + .ta-cell_content {
      justify-content: flex-end;
    }
  }

  &_icon {
    margin: 0 12px 0 0;

    > .ta-icon {
      --ta-icon-size: 20px;
      --ta-icon-color: var(--ta-label-color);
    }
  }

  &_link-icon {
    margin-left: 4px;

    --ta-icon-size: 20px;
    --ta-icon-color: var(--ta-content-color);

    &.arrow {
      &--down {
        transform: rotate(90deg);
      }

      &--left {
        transform: rotate(180deg);
      }

      &--up {
        transform: rotate(270deg);
      }
    }
  }

  &_body {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    color: $font2-color;
    margin: -8px 0 0 16px;
    padding-bottom: 12px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    text-align: left;

    .ta-cell.has--icon & {
      margin-left: 48px;
    }
  }

  &:not(.disabled).clickable {
    cursor: pointer;

    &:active {
      background-color: $background-color;
    }
  }

  &.disabled {
    --ta-content-color: #{rgba(var(--ta-grey-8), 0.2)};

    .ta-cell {
      &_label,
      &_body {
        opacity: 0.2;
      }
    }

    cursor: not-allowed;
  }

  .ta {
    &-input {
      height: 32px;
      border-width: 0;
      padding: 4px 0;
      border-radius: 0;

      &_input {
        text-align: right;
      }

      &.disabled {
        background-color: transparent;
      }
    }

    &-textarea {
      height: 92px;
    }

    &-radio-group {
      justify-content: flex-end;

      &.vertical .ta-radio_box {
        justify-content: flex-end;
      }
    }

    &-checkbox-group {
      justify-content: flex-end;

      &.vertical .ta-checkbox_box {
        justify-content: flex-end;
      }
    }

    &-picker-view {
      margin: -8px 0;
    }

    &-image-uploader {
      padding: 0;
      width: 192px;
      margin-left: auto;

      &.column-2 {
        width: 128px;
      }

      &.column-1 {
        width: 64px;
      }
    }
  }
}
