@import '../style/var.scss';

.ta-tab-bar {
  --ta-color: #{$font-color};
  --ta-active-color: #{$primary-color};
  --ta-front-color: var(--ta-color);

  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    content: '';
  }

  &::after {
    top: auto;
    bottom: 0;
  }

  &_list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: inherit;
    white-space: nowrap;
    overflow-x: auto;
  }

  &_item {
    height: inherit;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--ta-front-color);
    user-select: none;
    min-width: 64px;

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-icon {
      display: block;
      width: 28px;
      height: 28px;
      margin-bottom: 2px;
    }

    &-text {
      font-size: 10px;
      line-height: 14px;
      text-align: center;
    }

    .ta-image {
      width: 28px;
      height: 28px;
    }

    .ta-icon {
      --ta-icon-size: 28px;
      --ta-icon-color: var(--ta-front-color);
    }

    &.active {
      --ta-front-color: var(--ta-active-color);
    }
  }

  &.no--scrolling {
    .ta-tab-bar {
      &_list {
        display: flex;
        padding: 0;
        overflow: visible;
      }

      &_item {
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0;

        &-text {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
}
