@import '../style/var.scss';

.ak-action-sheet {
  &.ak-drawer .ak-nav-bar {
    height: 56px;

    &_title {
      font-size: 14px;
      font-weight: 400;
      color: $font2-color;
    }
  }

  .ak-drawer {
    &_body {
      background-color: $background-color;
    }
  }

  &_list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: $white-color;

    + .ak-action-sheet_list {
      margin-top: 8px;
    }
  }

  &_item {
    user-select: none;

    &:not(.disabled):active {
      background-color: $background-color;
    }

    &:not(:last-child)::after {
      content: '';
    }

    &-inner {
      display: flex;
      align-items: center;
      color: $title-color;
      text-align: center;
      user-select: none;
      box-sizing: border-box;
      justify-content: center;
      height: auto;
      min-height: 56px;
      padding: 12px 16px;
      flex-direction: column;
      font-size: 17px;
      line-height: 24px;

      small {
        font-size: 12px;
        color: $font2-color;
        line-height: 17px;
        margin-top: 4px;
      }

      span {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        flex-shrink: 1;
        overflow: hidden;
      }

      &.has--icon {
        justify-content: flex-start;
        padding: 0 20px;
      }
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.2;
    }

    &.highlight {
      .ak-action-sheet_item-inner span {
        color: $primary-color;
      }
    }
  }
}
