@import '../style/var.scss';

.fx-popup.fx-notify {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.fx-notify {
  &_inner {
    width: 100%;
    transform: translate3d(0, calc(-100%), 0);
    transition: all 0.2s;
    opacity: 0;
  }

  &.visible {
    .fx-notify_inner {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}
