@import './var.scss';
@import './layer.scss';
@import '../style/mixin.scss';

.ta-overflow-hidden {
  overflow: hidden !important;
}

.ta-mask {
  display: block;
  width: 100%;
  height: 100%;
  @include mask-background-4;
}

.ta-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: $default-z-index;
  display: flex;
  align-items: center;
  justify-content: center;

  > .ta-mask {
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }

  &.visible {
    > .ta-mask {
      opacity: 1;
    }
  }

  &.dismask {
    height: 0;

    > .ta-mask {
      display: none;
    }
  }
}
