$primary-color-1: #c8d5db !default;
$primary-color-2: #9cbece !default;
$primary-color-3: #73a5c1 !default;
$primary-color-4: #4f8cb4 !default;
$primary-color-5: #2e74a8 !default;
$primary-color-6: #125c9b !default;
$primary-color-7: #083f75 !default;
$primary-color-8: #01264e !default;
$primary-color-9: #001228 !default;
$primary-color-10: #000102 !default;
$success-color-1: #a4b7ac !default;
$success-color-2: #74aa8d !default;
$success-color-3: #529d77 !default;
$success-color-4: #349164 !default;
$success-color-5: #1b8455 !default;
$success-color-6: #057748 !default;
$success-color-7: #005132 !default;
$success-color-8: #002b1c !default;
$success-color-9: #000403 !default;
$success-color-10: #00dd9f !default;
$warning-color-1: #d6cdc0 !default;
$warning-color-2: #c9b191 !default;
$warning-color-3: #bc9669 !default;
$warning-color-4: #b07b46 !default;
$warning-color-5: #a36127 !default;
$warning-color-6: #96480c !default;
$warning-color-7: #702f03 !default;
$warning-color-8: #4a1b00 !default;
$warning-color-9: #230c00 !default;
$warning-color-10: #fc4c00 !default;
$danger-color-1: #f2e5e3 !default;
$danger-color-2: #e5c5c2 !default;
$danger-color-3: #d89795 !default;
$danger-color-4: #cb6c6b !default;
$danger-color-5: #bf464a !default;
$danger-color-6: #b2252e !default;
$danger-color-7: #8c1621 !default;
$danger-color-8: #660b17 !default;
$danger-color-9: #3f040d !default;
$danger-color-10: #190106 !default;
$primary-color: #{var(--ak-color-primary)};
$success-color: #{var(--ak-color-success)};
$warning-color: #{var(--ak-color-warning)};
$danger-color: #{var(--ak-color-danger)};
$white-color: #{rgb(var(--ak-grey-1))};
$background2-color: #{rgb(var(--ak-grey-2))};
$background-color: #{rgb(var(--ak-grey-3))};
$divider-color: #{rgb(var(--ak-grey-4))};
$border-color: #{rgb(var(--ak-grey-5))};
$font3-color: #{rgb(var(--ak-grey-6))};
$font2-color: #{rgb(var(--ak-grey-7))};
$font-color: #{rgb(var(--ak-grey-8))};
$title-color: #{rgb(var(--ak-grey-10))};
$black-color: #{rgb(var(--ak-grey-13))};
