@import '../style/var.scss';

.ta-modal {
  &_box {
    width: 400px;
    box-sizing: border-box;
    transform: scale(0);
    transition: all 0.2s;
    opacity: 0;
    position: relative;
  }

  &_box-inner {
    min-height: 100px;
    border-radius: 4px;
    background-color: $white-color;
    overflow: hidden;
  }

  &.visible {
    .ta-modal_box {
      opacity: 1;
      transform: scale(1);
    }
  }

  &_close {
    position: absolute;
    left: 50%;
    bottom: -50px;
    margin: 0 0 0 -16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;

    .ta-icon {
      --ta-icon-size: 32px;
      --ta-icon-color: #{$font-color};
    }
  }
}

@media (max-width: 575px) {
  .ta-modal {
    &_box {
      width: calc(100% - 96px);
    }
  }
}
