@import '../style/var.scss';

.ta-modal {
  &_box {
    position: fixed;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    transform: translate3d(-50%, -50%, 0) scale(0);
    transition: all 0.2s;
    opacity: 0;
    background-color: $white-color;
    border-radius: 4px;
    min-height: 100px;
    width: calc(100% - 96px);
    max-width: 480px;
  }

  &.visible {
    .ta-modal_box {
      opacity: 1;
      transform: translate3d(-50%, -50%, 0) scale(1);
    }
  }

  &_close {
    position: absolute;
    left: 50%;
    bottom: -50px;
    margin: 0 0 0 -16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;

    .ta-icon {
      --ta-icon-size: 32px;
      --ta-icon-color: #{$font-color};
    }
  }
}
