@import '../style/var.scss';

.ak-calendar {
  display: flex;
  width: 100%;
  position: relative;
}

.ak-calendar-popup {
  &_confirm {
    padding: 12px 16px;
    background-color: $white-color;
    display: flex;
    border-top: 1px solid $divider-color;
  }
}

.ak-calendar-view {
  --ak-highlight-color: #{$primary-color};
  --ak-highlight-color-2: #{$danger-color};

  height: 520px;
  background: $white-color;
  overflow: hidden;
  color: $font-color;

  &_header {
    height: 28px;
    border-bottom: 1px solid $divider-color;
  }

  &_weekdays {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &_weekday {
    width: 14.285%;
    text-align: center;
    font-size: 14px;

    &.highlight {
      color: var(--ak-highlight-color-2);
    }
  }

  &_body {
    position: relative;
    height: calc(100% - 32px);
    overflow: hidden;

    .ak-virtual-list {
      height: 100%;
    }
  }

  &_month-caption {
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    background-color: $background2-color;
    z-index: 1;

    &.fixed {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &_days {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
  }

  &_day {
    width: 14.285%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 17px;

    span {
      position: absolute;
      left: 0;
      top: 50%;
      font-size: 11px;
      display: block;
      width: 100%;
      text-align: center;
      height: 15px;
      line-height: 15px;
      margin-top: -24px;

      &.highlight {
        color: var(--ak-highlight-color);
      }

      &.ak-calendar-view_day-bottom.text {
        margin: 9px 0 0;

        &.highlight {
          color: var(--ak-highlight-color-2);
        }
      }
    }

    &.disabled {
      opacity: 0.2;
    }

    &.selected,
    &.in-range {
      color: #fff;

      span.highlight {
        color: #fff;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 60px;
        background-color: var(--ak-highlight-color);
        z-index: -1;
        margin-top: -30px;
        border-radius: 4px;
      }
    }

    &.in-range {
      color: var(--ak-highlight-color);

      span.highlight {
        color: var(--ak-highlight-color);
      }

      &::before {
        border-radius: 0;
        opacity: 0.2;
      }
    }
  }
}
