@import '../style/var.scss';

.ta-pagination {
  --ta-front-color: #{$font-color};

  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  color: var(--ta-front-color);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;

  &_prev,
  &_next {
    position: relative;
    border: none;
    border-radius: 0;
    background: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    outline: 0;

    .ta-icon {
      --ta-icon-color: var(--ta-front-color);
      --ta-icon-size: 16px;
    }

    &:active {
      background-color: $background-color;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.2;
      visibility: hidden;
    }
  }

  &_content {
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
