@import '../style/var.scss';

.ta-sticky {
  --ta-background-color: transparent;

  background-color: var(--ta-background-color);

  &_content {
    background-color: var(--ta-background-color);

    // &.fixed {
    //   position: fixed;
    //   left: 0;
    //   top: 0;
    //   z-index: 1000;
    // }
  }
}
