@import '../style/var.scss';

.ak-drawer {
  &_inner {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: none;
    border-radius: 0;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.2s;
    background-color: $white-color;
    min-height: 100px;
    box-sizing: border-box;

    .ak-nav-bar {
      height: 48px;
      background-color: transparent;

      &_title {
        color: $font-color;
        margin: 0 48px;
      }
    }

    &.placement--left,
    &.placement--right {
      min-width: 100px;
      max-width: 90%;
      min-height: auto;
      width: auto;
      height: 100%;
      top: 0;
      transform: translate3d(-100%, 0, 0);

      .ak-nav-bar_title {
        margin: 0 48px 0 12px;
        text-align: left;
      }
    }

    &.placement--right {
      left: auto;
      right: 0;
      transform: translate3d(100%, 0, 0);
    }

    &.placement--top {
      top: 0;
      bottom: auto;
      transform: translate3d(0, -100%, 0);

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
      }
    }

    &.placement--bottom {
      &::before {
        content: '';
        position: absolute;
        top: 0;
      }
    }
  }

  &_body {
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;

    .ak-drawer_inner.has--header & {
      height: calc(100% - 48px);
    }
  }

  &.visible {
    .ak-drawer {
      &_inner {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
