@import '../style/var.scss';

.ak-picker {
  display: flex;
  width: 100%;
  position: relative;
}

.ak-picker-view {
  position: relative;
  background: $white-color;
  color: $title-color;

  --pick-view-item-height: 48px;

  &_cols {
    width: 100%;
    height: calc(var(--pick-view-item-height) * 5);
    display: flex;
    flex-wrap: nowrap;

    .ak-empty {
      width: 100%;
    }
  }

  &_col {
    position: relative;
    height: 100%;
    flex: 1;

    &::before {
      content: '';
      position: absolute;
      top: calc(var(--pick-view-item-height) * 2);
      left: 0;
      height: 0;
      width: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid $border-color;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: calc(var(--pick-view-item-height) * 2);
      left: 0;
      height: 0;
      width: 100%;
      box-sizing: border-box;
      border-top: 1px solid $border-color;
    }
  }

  &_list {
    width: 100%;
    height: 100%;
    max-height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
  }

  &_item {
    padding: 0 12px;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    height: var(--pick-view-item-height);
    line-height: var(--pick-view-item-height);
    font-size: 17px;
    color: $font3-color;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;

    &.selected {
      color: $title-color;
    }

    &.disabled {
      color: $divider-color;
    }
  }

  .ak-virtual-list_item {
    overflow: hidden;

    &:first-child .ak-picker-view_item {
      margin-top: calc(var(--pick-view-item-height) * 2);
    }

    &:last-child .ak-picker-view_item {
      margin-bottom: calc(var(--pick-view-item-height) * 2);
    }
  }
}
