@import '../style/var.scss';

.ta-loading-icon {
  &_track {
    stroke: rgba(#{var(--ta-grey-13)}, 0.15);
  }

  &_thumb {
    stroke: $primary-color;
    transition: stroke-dasharray 0.6s ease 0s, stroke 0.6s ease 0s;
  }
}
