@use 'sass:math';
@import '../style/mixin.scss';

.ta-button {
  --ta-color: transparent;
  --ta-dark-color: transparent;
  --ta-light-color: transparent;
  --ta-front-color: var(--ta-color);
  --ta-button-icon-size: 20px;
  --ta-size: 48px;

  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  height: var(--ta-size);
  padding: 0 12px;
  font-size: 17px;
  line-height: 24px;
  background: #fff;
  font-weight: 500;
  user-select: none;
  position: relative;
  overflow: hidden;
  appearance: none;
  transform: translateZ(0);
  background-color: var(--ta-color);
  border: 1px solid var(--ta-color);
  color: var(--ta-front-color);

  + .ta-button {
    margin-left: 12px;
  }

  .ta-icon {
    flex-shrink: 0;

    --ta-icon-color: var(--ta-front-color);
    --ta-icon-size: var(--ta-button-icon-size);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }

  &:not(.type--default) {
    &.pattern--default {
      &:not(.ghost) {
        --ta-front-color: #fff;
      }

      &:not(:disabled):active {
        background-color: var(--ta-dark-color);
        border-color: var(--ta-dark-color);
      }
    }

    &.pattern--dashed {
      border-style: dashed;
    }

    &.pattern--borderless {
      border-color: transparent !important;
    }

    &.pattern--solid,
    &.pattern--dashed,
    &.pattern--borderless {
      background-color: $white-color;

      &:not(:disabled):active {
        --ta-front-color: var(--ta-dark-color);

        background-color: $background-color;
        border-color: var(--ta-dark-color);
      }
    }

    &.pattern--gradient {
      &:not(.ghost) {
        --ta-front-color: #fff;
      }

      background-image: linear-gradient(
        90deg,
        var(--ta-light-color) 0%,
        var(--ta-color) 100%
      );
      border-color: transparent !important;

      &:not(:disabled):active {
        background-image: linear-gradient(
          90deg,
          var(--ta-color) 0%,
          var(--ta-dark-color) 100%
        );
      }
    }

    &.transparent {
      background: transparent;

      &:not(:disabled):active {
        --ta-front-color: var(--ta-dark-color);

        background: transparent;
        border-color: var(--ta-dark-color);
      }
    }

    &.ghost {
      background: transparent;

      &:not(:disabled):active {
        --ta-front-color: var(--ta-light-color);

        background: transparent;
        border-color: var(--ta-light-color);
      }
    }
  }

  &.type--primary {
    --ta-color: #{$primary-color};
    --ta-dark-color: var(--ta-color-primary-dark);
    --ta-light-color: var(--ta-color-primary-light);
  }

  &.type--success {
    --ta-color: #{$success-color};
    --ta-dark-color: var(--ta-color-success-dark);
    --ta-light-color: var(--ta-color-success-light);
  }

  &.type--warning {
    --ta-color: #{$warning-color};
    --ta-dark-color: var(--ta-color-warning-dark);
    --ta-light-color: var(--ta-color-warning-light);
  }

  &.type--danger {
    --ta-color: #{$danger-color};
    --ta-dark-color: var(--ta-color-danger-dark);
    --ta-light-color: var(--ta-color-danger-light);
  }

  &.type--default {
    background-color: $white-color;

    --ta-color: #{$border-color};
    --ta-dark-color: #{$border-color};
    --ta-light-color: #{$border-color};
    --ta-front-color: #{$font-color};

    &:not(:disabled):active {
      background-color: $background-color;
      border-color: var(--ta-dark-color);
    }

    &.pattern--dashed {
      border-style: dashed;
    }

    &.pattern--borderless {
      border-color: transparent !important;
    }

    &.ghost {
      --ta-color: #fff;
      --ta-front-color: #fff;
    }

    &.transparent,
    &.ghost {
      background-color: transparent;

      &:not(:disabled):active {
        @include mask-background(0.04);
      }
    }
  }

  span {
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 12px;
    width: 1px;
    transform: translate3d(0, -50%, 0) scaleX(1);
    background-color: var(--ta-color);
  }

  &.shape--round {
    border-radius: calc(var(--ta-size) / 2);
  }

  &.shape--round,
  &.shape--rectangle {
    .ta-icon {
      margin: 0 8px 0 -2px;
    }
  }

  &.shape--square,
  &.shape--circle {
    flex-grow: 0;
    flex-shrink: 0;

    --ta-button-icon-size: 24px;

    &.size--middle {
      --ta-button-icon-size: 20px;
    }

    &.size--small {
      --ta-button-icon-size: 18px;
    }

    span {
      display: none;
    }
  }

  &.shape--circle {
    border-radius: 24px;
  }

  &.size--middle {
    --ta-size: 40px;

    line-height: 21px;
    font-size: 15px;

    --ta-button-icon-size: 18px;

    &.shape--square,
    &.shape--circle {
      padding: 0 9px;
    }

    &.shape--square,
    &.shape--rectangle {
      border-radius: 3px;
    }

    &::before {
      height: 10px;
    }

    &.shape--round,
    &.shape--rectangle {
      .ta-icon {
        margin: 0 4px 0 -2px;
      }
    }
  }

  &.size--small {
    --ta-size: 28px;
    --ta-button-icon-size: 16px;

    line-height: 17px;
    font-size: 12px;

    &.shape--square,
    &.shape--circle {
      padding: 0 4px;
    }

    &.shape--square,
    &.shape--rectangle {
      border-radius: 2px;
    }

    &.shape--round,
    &.shape--rectangle {
      .ta-icon {
        margin: 0 2px 0 -2px;
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .ta-button {
    &::before {
      transform: translate3d(0, -50%, 0) scaleX(0.5);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 3) {
  .ta-button {
    &::before {
      transform: translate3d(0, -50%, 0) scaleX(math.div(1, 3));
    }
  }
}

.ta-button-group {
  display: inline-flex;
  flex: 1;

  &.shape--square,
  &.shape--circle {
    flex: 0;
  }

  + .ta-button-group {
    margin-left: 16px;
  }

  &:not(.count--1) {
    > .ta-button {
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-color: transparent;
        margin-right: -1px;

        &.size--small {
          padding: 0 12px;
        }

        &.shape--round,
        &.shape--circle {
          padding-left: 16px;
        }
      }

      + .ta-button {
        position: relative;
        margin-left: 0;
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &::before {
          content: '';
        }

        &.size--small {
          padding: 0 12px;
        }
      }

      &:last-child {
        &.shape--round,
        &.shape--circle {
          padding-right: 16px;
        }
      }
    }
  }
}
