@import '../style/var.scss';

.ta-image-preview {
  > .ta-mask {
    background-color: rgb(0 0 0 / 90%);
  }

  > .ta-modal_box {
    width: 100%;
    height: 100%;

    .ta-modal_box-inner {
      height: 100%;
    }
  }

  .ta-swiper {
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s;
    opacity: 0;
  }

  &.visible {
    .ta-swiper {
      opacity: 1;
    }
  }

  &_image-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateZ();
    overflow: hidden;

    .ta-image {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);

      &.animated {
        transition: all 0.1s;
      }
    }
  }

  &_pagination {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 48px;
    width: 100%;
    font-size: 17px;
    color: #fff;
    text-align: center;
  }

  &_close {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
  }
}
