@import '../style/var.scss';

.ta-checkbox {
  --ta-active-color: #{$primary-color};
  --ta-checkbox-icon-size: 20px;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  color: $title-color;
  text-align: left;
  position: relative;

  + .ta-checkbox {
    margin-left: 16px;
  }

  &_box {
    display: flex;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    align-items: center;
  }

  &_icon,
  &_checked-icon {
    --ta-icon-size: var(--ta-checkbox-icon-size);
    --ta-icon-color: #{$border-color};
  }

  &_checked-icon {
    display: none;

    --ta-icon-color: var(--ta-active-color);
  }

  &_input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

    &:checked + .ta-checkbox_box .ta-checkbox_icon {
      display: none;
    }

    &:checked + .ta-checkbox_box .ta-checkbox_checked-icon {
      display: block;
    }
  }

  &_text {
    display: block;
    line-height: 1;
    margin-left: 12px;
  }

  &.disabled {
    opacity: 0.3;
  }
}

.ta-checkbox-group {
  display: flex;
  height: 32px;
  align-items: center;
  color: $title-color;
  box-sizing: border-box;
  flex: 1;

  &.vertical {
    flex-direction: column;
    height: auto;
    min-height: 32px;

    > .ta-checkbox {
      display: flex;
      width: 100%;

      + .ta-checkbox {
        margin-left: 0;

        &::before {
          content: '';
        }
      }
    }
  }
}
