@import '../style/var.scss';

.ta-flat-list {
  position: relative;
  display: block;
  width: 100%;

  &_header,
  &_footer {
    .ta-flat-list.horizontal & {
      display: inline-block;
      vertical-align: top;
    }
  }
}
