@import '../style/var.scss';
@import '../style/mixin.scss';

.ta-tag {
  --ta-color: transparent;
  --ta-black-color: transparent;
  --ta-white-color: #{$white-color};
  --ta-front-color: var(--ta-white-color);
  --ta-tag-icon-size: 16px;

  display: inline-flex;
  align-items: center;
  height: 24px;
  padding: 0 12px;
  border-radius: 2px;
  font-size: 12px;
  color: var(--ta-front-color);
  background-color: var(--ta-color);
  border-style: solid;
  border-width: 0;
  border-color: transparent;
  box-sizing: border-box;
  user-select: none;

  + .ta-tag {
    margin-left: 12px;
  }

  &_close {
    cursor: pointer;
    margin: 0 -2px 0 2px;
    appearance: none;
    padding: 0;
    border: 0;
    background: none;
    width: 16px;
    height: 16px;
    display: block;

    .ta-icon {
      display: block;

      --ta-icon-size: var(--ta-tag-icon-size);
      --ta-icon-color: var(--ta-front-color);
    }
  }

  &.pattern--light {
    --ta-front-color: var(--ta-black-color);
  }

  &.pattern--plain {
    background-color: var(--ta-white-color);
    border-color: var(--ta-color);

    --ta-front-color: var(--ta-color);
  }

  &.size--large {
    .ta-tag_close {
      margin: 0 -4px 0 4px;
    }

    &.pattern--plain {
      padding: 0 11px;
      border-width: 1px;
    }
  }

  &.size--middle {
    height: 18px;
    font-size: 10px;
    padding: 0 8px;

    --ta-tag-icon-size: 12px;

    &.pattern--plain {
      padding: 0 7px;
      border-width: 1px;
    }
  }

  &.size--small {
    height: 14px;
    font-size: 9px;
    padding: 0 4px;

    --ta-tag-icon-size: 10px;

    &.pattern--plain {
      padding: 0 3px;
      border-width: 1px;
    }
  }

  &.type--primary {
    --ta-color: #{$primary-color};
    --ta-black-color: #{$primary-color};

    &.pattern--dark {
      --ta-front-color: #fff;
    }

    &.pattern--light {
      --ta-color: var(--ta-color-primary-lighter);
    }
  }

  &.type--success {
    --ta-color: #{$success-color};
    --ta-black-color: #{$success-color};

    &.pattern--dark {
      --ta-front-color: #fff;
    }

    &.pattern--light {
      --ta-color: var(--ta-color-success-lighter);
    }
  }

  &.type--warning {
    --ta-color: #{$warning-color};
    --ta-black-color: #{$warning-color};

    &.pattern--dark {
      --ta-front-color: #fff;
    }

    &.pattern--light {
      --ta-color: var(--ta-color-warning-lighter);
    }
  }

  &.type--danger {
    --ta-color: #{$danger-color};
    --ta-black-color: #{$danger-color};

    &.pattern--dark {
      --ta-front-color: #fff;
    }

    &.pattern--light {
      --ta-color: var(--ta-color-danger-lighter);
    }
  }

  &.type--default {
    --ta-color: #{$font-color};
    --ta-black-color: #{$font-color};

    &.pattern--light {
      --ta-color: #{$background-color};
    }

    &.pattern--plain {
      border-color: $border-color;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.2;

    .ta-icon {
      cursor: not-allowed;
    }
  }

  &:not(.disabled) {
    .ta-tag_close:active {
      border-radius: 2px;
      @include mask-background(0.16);
    }
  }
}
