@import '../style/var.scss';

.fx-avatar {
  --fx-size: 48px;
  --fx-font-size: 24px;
  --fx-color: #{$background-color};
  --fx-front-color: #{$font-color};

  background-color: var(--fx-color);
  width: var(--fx-size);
  height: var(--fx-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: var(--fx-font-size);
  color: var(--fx-front-color);
  box-sizing: border-box;

  .fx-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    .fx-icon {
      --fx-icon-size: 1.333em;
      --fx-icon-color: var(--fx-front-color);
    }
  }

  &.gender-man {
    .fx-badge_badge {
      --fx-color: #{$primary-color};
    }
  }

  &.gender-woman {
    .fx-badge_badge {
      --fx-color: #{$danger-color};
    }
  }

  &.shape--square {
    border-radius: 4px;

    .fx-image {
      border-radius: 4px;
    }
  }

  &.size--large {
    --fx-size: 64px;
    --fx-font-size: 32px;
  }

  &.size--small {
    --fx-size: 36px;
    --fx-font-size: 18px;
  }
}

.fx-avatar-group {
  > .fx-avatar {
    border: 1px solid $white-color;
    margin-left: -0.5em;

    &:first-child {
      margin-left: 0;
    }
  }

  &_count {
    &-number {
      font-size: 0.667em;

      &.size--2 {
        font-size: 0.611em;
      }

      &.size--3 {
        font-size: 0.556em;
      }

      &.size--4 {
        font-size: 0.556em;
      }

      &.size--5 {
        font-size: 0.5em;
      }
    }
  }
}
