@import '../style/var.scss';

.ta-pop-dialog {
  &_body {
    user-select: none;
  }

  &_footer {
    position: relative;
    display: flex;
    flex-direction: column;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      border-color: $border-color;
    }

    &-inner {
      display: flex;
      justify-content: space-between;
      position: relative;

      > .ta-button + .ta-button::before {
        height: 100%;
        background-color: $border-color;
      }
    }
  }
}
