@import '../style/var.scss';

.ak-image-uploader {
  padding: 13px;

  &_upload-button {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid $border-color;
    background-color: $background-color;
    border-radius: 4px;
    overflow: hidden;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.2;
    }

    .ak-icon {
      --ak-icon-size: 40px;
      --ak-icon-color: #{$font3-color};
    }

    input {
      position: absolute;
      left: -10px;
      top: -10px;
      font-size: 375px;
      border: none;
      opacity: 0;
    }
  }

  &_item {
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    background-color: $background-color;
    position: relative;
    border: 1px solid $border-color;
    box-sizing: border-box;

    .ak-image {
      width: 100%;
      height: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &-status {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      background-color: rgba($color: #000, $alpha: 40%);

      .ak-icon {
        --ak-icon-color: #fff;
        --ak-icon-size: 40px;

        margin-bottom: 4px;
      }
    }
  }
}
