@import '../style/var.scss';

.ta-scroll-tab {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $background-color;

  &_bar {
    width: 100%;
    flex-grow: 0;
    background-color: $background-color;
  }

  &_body {
    flex: 1;
    height: calc(100% - 40px);

    .ta-sticky-view {
      height: 100%;
    }
  }

  &.is-side-bar {
    flex-direction: row;

    .ta-scroll-tab {
      &_bar {
        width: 80px;
        height: 100%;
      }

      &_body {
        height: 100%;
      }
    }
  }
}
