@import '../style/var.scss';

.fx-form-footer {
  padding: 8px 16px;
  display: flex;
}

.fx-form-item {
  &.fx-cell .fx-cell_body {
    color: $danger-color;
    list-style: none;
    padding: 0 0 12px;

    li {
      line-height: 20px;
    }
  }

  &_required {
    color: $danger-color;
  }
}
